*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif';
}

:root {
    /** COLOR */
    --blue-primary-color:           rgb(9 17 141);
    --red-primary-color:            rgb(239 55 66);

    --yellow-secundary-color:       rgb(242 190 91);
    --blue-secundary-color:         rgb(0 43 212);
    --light_blue-secundary-color:   rgb(53 124 183);
    --light_beige-secundary-color:  rgb(197 189 188);
    --dark_beige-secundary-color:   rgb(207 177 118);
    --white-secundary-color:        rgb(214 213 206);
    --green-secundary-color:        rgb(39 92 103);
    --red-secundary-color:          rgb(192 95 75);

    --navbar-color-when-scroll:     rgba(0, 0, 0, 0.6);

    /** TRANSITIONS */
}

/* NAVBAR */
    nav {
        width: 100%;
        max-width: 120rem;
        height: 8rem;
        transition: background-color .5s ease;
    }

    .container {
        top: 0;
        left: 0;
        width: 100%;
    }

    /* Logo */
    div .logo {
        position: relative;
        max-width: 160px;
    }

    div ul.navbar-nav {
        position: relative;
        display: flex;
    }

    div ul.navbar-nav li{
        list-style: none;
        margin-right: auto;
        margin-left: 40px;
        display: flex;
    }

    #active {
        color: var(--red-primary-color);
    }
    

    /* Tabs */
    .navbar-light .navbar-nav .nav-link{
        display: flex;
        text-decoration: none;
        font-size: 13px;
        color: var(--blue-primary-color);
    	font-weight: bold;
    }

    .navbar-light .navbar-nav .nav-link:hover{
        color: var(--blue-primary-color);
    }
    
    .nav-link::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--blue-primary-color);
        position:absolute;
        bottom: 9px;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s ease;
    }

    #active::after{
        background-color: var(--red-primary-color);
    }

    #active,
    .nav-link,
    .nav-link:hover::after{
        transform: scaleX(1);
    }
    
    /*Apply styles after scroll*/
    .scrolling-active .navbar-light{
        background-color: rgba(248,248,248,.9);
        box-shadow: 0 3px 1rem rgba(0,0,0,.1);
        height: 8rem;
    }

    .scrolling-active .navbar-light .navbar-nav .nav-link{
        color: var(--blue-primary-color);
    }


    #preloader{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(248,248,248,.9);
        z-index: 10000;
        overflow: hidden;
    }
    .preloader-logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .preloader-logo img{
        width: 300px;
        animation: animate -0.5s linear 1s infinite alternate;
    }

    @keyframes animate {
        0%{
            opacity: 0;
            fill: #ffffffff;
        }
        100%{
            opacity: 1;
        }
    }